.bars__container {
    width: 100%;
    .bar__empty {
        height: 25px;
        width: 100%;
        margin: 0 auto 10px auto;
        line-height: 30px;
        font-size: 16px;
        font-weight: bold;
        text-shadow:  1px  1px 1px black,
        1px -1px 1px black,
       -1px  1px 1px black,
       -1px -1px 1px black;
        
        color: white;
        position: relative;
        background-color: lightgray;
        .bar__full {
          transition: width .3s linear;
          display: block;
          
          // background-color: $green;
          width: 0;
          height: 100%;
        } 
       
        
      }



}
