.button-start {
    width: 100%;
    background-color: $green;
    font-size: 1.5rem;

    &:hover {
        background-color: darkgreen;
    }
}

.button-info {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 1.5rem;
    padding: 0.75rem;
    border-color: $lightgrey;
}

.button-clear {
    width: 100%;
}
a.button {
    text-decoration: none;
}
