.canvas__container {
    width: 100%;
    max-height: 60%;
    text-align: center;
    // height: 75vh;

    .canvas {
        width: 100%;
        height: 95%;
        border: 3px solid $blue;
    }

   
}

.endscreencanvas {
    width: 50%;
    border: 3px solid #5271ff;
  }