$green: #7ed957;
$red: #ff5757;
$blue: #5271ff;
$yellow: #ffde59;
$darkgrey: #545454;
$grey: #737373;
$lightgrey: #a6a6a6;
$verylightgrey: #d9d9d9;

@keyframes transition1 {
  from {
    background-color: #7ed957
  }

  to {
    background-color: #ffde59
  }
}

@keyframes transition2 {
  from {
    background-color: #ffde59
  }

  to {
    background-color: red
  }

}


