html,
body {
    overflow: hidden;
}

.content__container-flex {
    position: absolute;
    max-width: 70em;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1.5rem;

    &.change-orientation {
        @media (orientation: landscape) and (max-width: 1080px){
            // flex-direction: row;
    
            .button-start__container {
                // width: 30%;
            }
        }

    }

    .big {
        flex-grow: 2;


    }
}