.logo--start {
    img {
        opacity: 0;
    }
    margin-top: 4rem;
    margin-bottom: 4rem;
    background-image: url(../assets/logo_big_color.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}