#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#overlay-text  {
    text-shadow:  1px  1px 1px black,
    1px -1px 1px black,
   -1px  1px 1px black,
   -1px -1px 1px black;
    position: absolute;
    top: 47%;
    left: 50%;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#overlay-number {
    text-shadow:  1px  1px 1px black,
    1px -1px 1px black,
   -1px  1px 1px black,
   -1px -1px 1px black;
    position: absolute;
    top: 53%;
    left: 50%;
    
    font-size: 2rem;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
