.section {
    padding: 0;
    position: relative;
    height: 100vh;
    padding-top: 0.5rem;
    padding: 1rem;

    &.screen__start {

        .content__container-flex {
            margin-top: 3rem;
        }
    }

    &.screen__game {}

    &.screen__end {}
}