.timer__container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: lightgray;

    #timer {
        transition: width .3s linear;
        height: 0.6rem;
        width: 100%;
        background-color: $green;
    }
}