.margin-left-auto {
    margin-left: auto;
}

.margin-auto {
    margin: auto;
}

.hidden {
    display: none;
    visibility: hidden;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}